

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Open+Sans&display=swap');



@font-face {
  font-family: 'title';
  src: url("../fonts/JosefinSans-VariableFont_wght.ttf") format("opentype");
}

@font-face {
  font-family: 'textfont';
  src: url("../fonts/Quicksand-VariableFont_wght.ttf") format('truetype');
}




body {
    font-family: "textfont", sans-serif;
    font-style: normal;
    background-color: #bcd8c1ff;
    font-size: 14px;
}

h1, h2, h3, p, li {
  color: #244044ff;
}

.navbar-expand {
  padding: 0px;
}

.navbar-collapse {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #bcd8c1ff;
  width: max-content;
  /*min-width: 200px; */
  /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
  z-index: 100;
}

.navbar .nav-link {
  color: #4f8a92ff;
  font-size: clamp(15px, 2.5vw, 30px);
  margin: 0px 1.5vw;
  font-weight: bold;
}

.navbar-collapse .nav-link.active {
  color: #244044ff; /* Set your desired color */
}

.rounded-navbar {
  border-bottom-left-radius: 16px; /* Only bottom-left */
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;     /* Ensures child elements don't spill over */
}



.vvh-header {
  background-color:#bcd8c1ff;
  background-image: url('../img/vvh-hlavicka.svg');
  background-size: cover;  /* Makes the image cover the entire div */
  background-position: center; /* Centers the image */
  height: 600px; /* Adjust as needed */
  width: 100%; /* Full width */
}


@media (max-width: 991px) {
  .vvh-header {
    height: 500px; /* Adjust as needed */
  }
}


@media (max-width: 767px) {
  .vvh-header {
    height: 450px; /* Adjust as needed */
  }
}

@media (max-width: 410px) {
  .vvh-header {
    height: 530px; /* Adjust as needed */
  }
}

.vvh-header .vvh-title {
    font-family: 'title';
    font-size: clamp(60px, 7vw, 120px);
    text-align: center;
    color: #244044ff;
    display: flex;
    margin-top: 200px;
    margin-left: 2%;
    margin-right: 2%;
  }

  @media (max-width: 991px) {
    .vvh-header .vvh-title {
      margin-top: 200px
    }
  }

  @media (max-width: 767px) {
    .vvh-header .vvh-title {
      margin-top: 100px
    }
  }

  

  .vvh-header .vvh-subtitle {
    font-family: 'title';
    font-size: clamp(35px, 5vw, 60px);
    text-align: center;
    color: #244044ff;
    display: flex;
    justify-content: right;  /* align horizontal */
    height: 50px;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .vvh-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }


  .vvh-text-title {
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
    font-size: clamp(30px, 3vw, 40px);
  }
  .vvh-text {
    margin-bottom: 0px;
    font-size: clamp(15px, 2vw, 30px);
  }

  .vvh-list-text {
    padding-left:70px;
    margin-bottom: 0px;
    font-size: clamp(15px, 2vw, 30px);
  }

  @media (max-width: 991px) {
    .vvh-list-text {
      padding-left:60px;
    }
  }

  @media (max-width: 767px) {
    .vvh-list-text {
      padding-left:40px;
    }
  }

  .vvh-odkaz-text {
    color: #4f8a92ff;
    text-decoration: none;
    font-weight: bold;
  }

  .vvh-odkaz-text:hover {
    color: #4eacabff;
  }
  

  .vvh-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .vvh-button {
    padding: 10px 20px;
    background-color: #244044ff;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: clamp(20px, 3vw, 40px);
    font-family: sans-serif;
    transition: background-color 0.3s;
  }

  .vvh-button:hover {
    background-color: #4f8a92ff;
  }


  .vvh-block-zluta {
    padding-top:25px;
    padding-bottom:25px;
    background-color: #f5e9a3ff;
  }

  .vvh-block-tyrkys {
    padding-top:25px;
    padding-bottom:25px;
    background-color: #4eacabff;
  }

  .vvh-block-orange {
    padding-top:25px;
    padding-bottom:25px;
    background-color: #eab229ff;
  }

  .vvh-block-zelena {
    padding-top:25px;
    padding-bottom:25px;
    background-color: #bcd8c1ff;
  }

  .vvh-footer {
    padding-top:25px;
    padding-bottom:25px;
    background-color: #bcd8c1ff;
  }

  .vvh-kontakt {
    display: flex;
    flex-direction: column;   /* Stack h2 and p vertically */
    align-items: flex-start;  /* Align h2 and p to the left */
    width: max-content;       /* Adjust width to fit the content */
    margin: 0 auto;           /* Horizontally center the block within the column */
  }


  .vvh-nazev-block {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
  }

  .vvh-sovicka {
    margin-left: 30px
  }
  